@use "@styles/globals.module.scss";

.characterGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    max-width: 100%;
    margin: auto;
    .characterCard {
        background-color: var(--cardBackground);
        border: 1px solid var(--cardBorder);
        border-radius: 8px;
        padding: 1rem;
        text-align: center;
        transition: transform 0.2s;
        &:hover {
            transform: scale(1.05);
        }
        &.disabled {
            pointer-events: none;
            filter: grayscale(100%);
            &:hover {
                transform: none;
            }
        }
        img {
            max-width: 100%;
            height: auto;
            border-radius: 4px;
        }
        .placeholderImage {
            width: 100%;
            height: 150px;
            background-color: var(--placeholderBackground);
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--placeholderText);
            font-size: 1rem;
            border-radius: 4px;
            border: solid 1px var(--borderColor);
            background-color: var(--bgColor);
        }
        h3 {
            margin-top: 0.5rem;
            font-size: 1.2rem;
            color: var(--textPrimary);
        }
    }
}

.characterModal {
    width: min(800px, 100%) !important;
}