@use "@styles/globals.module.scss";

.characterPage {
    max-width: var(--comicArchiveWidth);
    margin: auto;
    padding-bottom: 64px;
    .characterList {
        > * {
            padding-bottom: var(--paddingLarge);
            margin-bottom: var(--paddingLarge);
            border-bottom: solid 5px var(--borderColor);
            &:last-child {
                border-bottom: none;
                margin-bottom: 0;
            }
        }
    }
}