@use "@styles/globals.module.scss";

.pageManager {
    .noPages {
        text-align: center;
        padding: var(--padding) 0;
        font-size: var(--textSizeXL);
        color: var(--primaryColor);
    }
    ul.pageList {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        > * {
            flex: 1 1 calc(33.333% - 1rem);
            max-width: calc(33% - 1rem);
            .pageEditor {
                img {
                    max-width: 100%;
                    height: auto;
                }
                .date {
                    padding: var(--paddingSmall);
                }
                .controls {
                }
            }
        }
    }
}