@use "@styles/globals.module.scss";

.comicPage {
    max-width: 800px;
    margin: auto;
    padding: var(--padding);
    img {
        display: block;
        max-width: 100%;
        margin: auto;
    }
    h1 {
        margin: 0;
        padding: 0;
    }
    .pageDetails {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        p {
            margin: 0 0 8px 0;
            * {
                font-style: italic;
            }
        }
    }
    .pageTranscript {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        h1 {
            cursor:pointer;
        }
    }
}
