@use "@styles/globals.module.scss";

.comicPage {
    max-width: var(--comicPageWidth);
    margin: auto;
    padding: var(--padding);
    img {
        display: block;
        max-width: 100%;
        margin: auto;
    }
    h1 {
        margin: 0;
        padding: 0;
        @media (max-width: 768px) {
            font-size: 12pt;
        }
    }
    .pageDetails {
        vertical-align: top;
        margin-top: var(--padding);
        p {
            margin: 0 0 8px 0;
            * {
                font-style: italic;
            }
        }
    }
    .pageTranscript {
        vertical-align: top;
        margin-top: var(--padding);
        h1 {
            cursor:pointer;
        }
        .transcriptCopy {
            p {
                margin: 0 0 var(--padding) 0;
                line-height: 1.5em;
            }
        }
    }
}
