@use "@styles/globals.module.scss";

.breadCrumbs {
    background-color: var(--bgColor);
    position: relative;
    min-height: 48px;
    .switch {
        position: absolute;
        right: 8px;
        top: 12px;
    }
    ul {
        list-style-type: none;
        padding: 16px;
        li {
            display: inline;
            font-weight: bold;
            ::after {
                content: "/";
                padding: 0 8px;
                color: var(--textColor);
            }
            &:last-child {
                ::after {
                    content: "";
                }
            }
        }
    }
}
