@use "@styles/globals.module.scss";

.subArcGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: space-evenly;
    .listItem {
        padding: 16px;
        position: relative;
        .title {
            text-align: center;
            border: solid 2px var(--bgLightColor);
            background-color: var(--primaryColor);
            color: #ffffff;
            font-weight: bold;
            padding: var(--paddingSmall);
        }
    }
}

.subArcList {
    list-style-type: none;
    padding: 0;
    p {
        margin-top: 0;
    }
    h2 {
        margin-top: 0;
        text-align: center;
    }
    > li {
        margin-bottom: var(--padding);
        padding-bottom: var(--padding);
        border-bottom: solid 2px var(--borderColor);
        &:last-child {
            border-bottom: none;
        }
    }
    .pageList {
        margin-top: var(--padding);
        list-style-type: none;
        padding: 0;
        display: block;
        li {
            display: inline-block;
            padding: var(--paddingSmall);
            width: 44px;
            text-align: right;
        }
    }
}
