@use "@styles/globals.module.scss";

.arcManager {
    .treeCol {
        .arcNode {
            position: relative;
            .arcName {
                display: inline-block;
                width: calc(100% - 13px);
                color: var(--errorColor);
                padding: globals.$padding-sm globals.$padding;
                &.enabled {
                    color: var(--successColor);
                }
                &:hover {
                    background-color: var(--borderColor);
                }
                &.selected {
                    background-color: var(--secondaryColor);
                    color: var(--bgColor);
                }
            }
            .actions {
                position: absolute;
                right: 12px;
                top: 8px;
                > * {
                    margin-left: globals.$padding;
                }
            }
            .nodeChildren {
                padding-left: globals.$padding-lg;
            }
        }
    }
}