@use "@styles/globals.module.scss";

.pageEditor {
    :global(.ant-col) {
        padding-bottom: 16px;
    }
    .controls {
        text-align: right;
    }
    .image {
        img {
            max-width: 100%;
        }
    }
}