@use "@styles/globals.module.scss";

.latestPage {
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    align-items: start; 
    .newsFeed {
        overflow-y: auto;
        max-height: 1700px;
        scrollbar-width: thin;
        padding-right: var(--padding);
        scrollbar-color: var(--bgColor) var(--bgLightColor);
    }
}

// Stack vertically under 700px and make newsFeed auto height
@media (max-width: 700px) {
    .latestPage {
        grid-template-columns: 1fr;
        .newsFeed {
            overflow-y: visible;
            aspect-ratio: auto;
            max-width: 378px;
            padding: var(--padding);
            margin: auto;
        }
    }
}