@use "@styles/globals.module.scss";

.latestPage {
    .newsFeed {
        @include globals.contentBlock;
        overflow-y: auto;
        max-height: 1700px;
        margin: var(--padding);
        background-color: var(--bgLightColor);
        scrollbar-width: thin;
        scrollbar-color: var(--bgColor) var(--bgLightColor);
        @media (max-width: 767px) {
            max-height: auto;
            margin-bottom: 64px;
        }
    }
}
