@use "@styles/globals.module.scss";

.arcEditor {
    .header {
        .parentSelect {
            margin: 0 var(--padding);
            width: 256px;
        }
        .moveBtn {
            margin: 0 var(--paddingSmall);
        }
    }
    .updateButtons {
        float: right;
    }
    .images {
        padding-top: 18px;
    }
    .thumbnail, .banner {
        display: block;
        max-width: 100%;
        margin: auto;
    }
}