@use "@styles/globals.module.scss";

.verticalScrollChapters {
    .arcName {
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0;
        li {
            border-bottom: 1px solid var(--borderColor);
            padding-top: 4px;
            h2 {
                margin: 0;
                @media (max-width: 500px) {
                    font-size: 12pt;
                }
            }
        }
    }
}