@use "@styles/globals.module.scss";

.arcContainer {
    position: relative;
    padding: var(--padding);
    max-width: var(--comicArchiveWidth);
    margin: auto;
    padding-bottom: 64px;
    img {
        width: 100%;
    }
    .arcDetails {
        max-width: var(--comicArcDetailsWidth);
        margin: auto;
    }
    .breadCrumbs {
        background-color: var(--bgColor);
        position: relative;
        min-height: 48px;
        .switch {
            position: absolute;
            right: 8px;
            top: 12px;
        }
        ul {
            list-style-type: none;
            padding: 16px;
            li {
                display: inline;
                font-weight: bold;
                ::after {
                    content: "/";
                    padding: 0 8px;
                    color: var(--textColor);
                }
                &:last-child {
                    ::after {
                        content: "";
                    }
                }
            }
        }
    }
    .subArcGrid, .arcPages {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        justify-content: space-evenly;
        .listItem {
            padding: 16px;
            position: relative;
            .title {
                text-align: center;
                border: solid 2px var(--bgLightColor);
                background-color: var(--primaryColor);
                color: #ffffff;
                font-weight: bold;
                padding: var(--paddingSmall);
            }
        }
    }
    .subArcList {
        list-style-type: none;
        padding: 0;
        p {
            margin-top: 0;
        }
        h2 {
            margin-top: 0;
            text-align: center;
        }
        > li {
            margin-bottom: var(--padding);
            padding-bottom: var(--padding);
            border-bottom: solid 2px var(--borderColor);
            &:last-child {
                border-bottom: none;
            }
        }
        .pageList {
            margin-top: var(--padding);
            list-style-type: none;
            padding: 0;
            display: block;
            li {
                display: inline-block;
                padding: var(--paddingSmall);
                width: 44px;
                text-align: right;
            }
        }
    }
}