@use "@styles/globals.module.scss";

.comicNavLinksContainer {
    display: grid;
    grid-template-columns: 15% 15% auto 15% 15%;
    padding: var(--padding) 0;
    background-color: var(--comicNavBackgroundColor);
    .noShow {
        display: none;
    }
}