@use "@styles/globals.module.scss";

.comicNavLinksContainer {
    display: grid;
    grid-template-columns: 15% 15% auto 15% 15%;
    margin: globals.$padding;
    .noShow {
        display: none;
    }
}